---
const profilePictureUrl = '/path/to/profile-picture.jpg';
---

<div class="p-4 bg-custom-light-gray rounded-lg">
  <img src={profilePictureUrl} alt="Miguelángel Cabrera" class="rounded-full w-32 h-32 mx-auto" />
  <div class="text-center mt-4 text-custom-text font-custom-font">
    <h1 class="text-4xl font-bold">Miguelángel Cabrera</h1>
    <p class="text-xl">A passionate Frontend Engineer...</p>
    <div class="mt-4">
      <a href="mailto:email@example.com" class="block">email@example.com</a>
      <a href="https://github.com/username" class="block">github.com/username</a>
      <a href="https://linkedin.com/in/username" class="block">linkedin.com/in/username</a>
      <a href="https://twitter.com/username" class="block">twitter.com/username</a>
      <p>+54 11 2152 5102</p>
    </div>
  </div>
</div>
